        body, html {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: transparent;
            color: #0e0e16;
        }
        .ticker-top {
            width: 100%;
            overflow: hidden;
            background-color: transparent;
            top: 0;
            left: 0;
            height: 40px;
            z-index: 1000;
            display: flex;
            flex-direction: column;
        }
        .ticker-stroke {
            height: 2px;
            background-color: #0e0e16;
            flex-shrink: 0;
        }
        .ticker-content-wrapper {
            flex-grow: 1;
            overflow: hidden;
        }
        .ticker-content {
            display: flex;
            animation: ticker 30s linear infinite;
            height: 100%;
            align-items: center;
            white-space: nowrap;
        }
        @keyframes ticker {
            0% { transform: translateX(0); }
            100% { transform: translateX(-100%); }
        }
        .ticker-item {
            flex: 0 0 auto;
            font-size: 24px;
            font-weight: bold;
            padding: 0 20px;
            font-weight: bold;
        }
        .container {
            max-width: 600px;
            margin: 40px auto 0;
            padding: 20px;
            text-align: center;
        }
        .logo {
            width: 100px;
            height: 100px;
            background-color: #0e0e16;
            border-radius: 50%;
            margin: 0 auto 20px;
        }
        .link-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            color: #0e0e16;
            border: 2px solid #0e0e16;
            padding: 15px;
            margin: 15px 0;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
            font-size: 18px;
            font-weight: bold;
        }
        .link-button:hover {
            background-color: #0e0e16;
            color: white;
        }
        .link-button svg {
            margin-right: 10px;
            fill: currentColor;
            width: 24px;
            height: 24px;
        }
        .ticker-bottom {
            width: 100%;
            overflow: hidden;
            margin-top: 40px;
        }
        .bottom-slider {
            display: flex;
            animation: slide 20s linear infinite;
        }
        .bottom-slider img {
            width: 340px;
            height: 340px;
            object-fit: cover;
            flex-shrink: 0;
            margin-right: 40px;
            margin-bottom: 40px;
        }
        @keyframes slide {
            0% { transform: translateX(0); }
            100% { transform: translateX(calc(-220px * 5)); }
        }
